* {
    margin: 0;
    padding: 0;
}
/* Header Element Design */
header {
    background: url(../images/banner/banner2.png);
    height: 700px;
    display: flex;
    align-items: center;
    background-size: cover;
}
.header-right-text {
    width: 380px;
    right: 10%;
    position: absolute;
    text-align: right;

}
header h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    color: #151414;
}
header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    margin-top: 15px;
    margin-bottom: 20px;

}
header button {
    padding: 12px 20px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: white ;
    border: none;
}
/* Failure Section */
.failure-section, .planner, .cards {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 60px auto;
    gap: 130px;
    justify-content: center;
}
.failure-section img {
    width: 449px;
    height: 550px;

}
.failure-text {
    width: 416px;
}
.failure-text h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 12px;
}
.failure-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #444343;
    width: 77%;
    margin-bottom: 10px;
}
.right-check {
    color: #16D887;
    padding: 3px;
}
/* Plan Section */
/* Section flexed with failure-section class  */
.plans-table {
    text-align: center;
}
.plans-table > h2 {
    font-weight: 700;
    font-size: 35px;
    color: #151414;
}
.planner img {
    width: 45px;
    height: 45px;
    margin: 10px 0;
}
.planner h5 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 16px;
    color: #151414;
}
.planner p {
    font-weight: 500;
    font-size: 18px;
    color: #737272;
}
/* Motivation Section */
.motivation {
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),
                url(../images/watch.png); */
    background: url(../images/gradient2.png),
                url(../images/watch.png);
    width: 65%;
    height: 183px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 70px auto;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.motivation h2 {
    width: 36%;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin: 20px 0 0 35px;
}
.motivation button {
    width: 90px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #F15B22;
    padding: 10px 0;
    margin: 20px 0 0 35px;
    border-radius: 5px;
    border: none;
    
}
/* Web projects extra Section */
/* Section flexed with failure-section class  */
.extra-section h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.cards1, .cards2, .cards3 {
    padding: 20px 23px;
    border-radius: 3px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    
}
.cards1 {
    background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
    color: #473737;
}
.cards2 {
    background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
    color: #c6d3d1;
}
.cards3 {
    background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
    color: #dcdcdcdd;
}
.cards h4 {
   margin: 12px 0; 
}
/* Footer Element design */
footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 64px;
    background: #151414;
    color: #F8F8F8;

}
footer section {
    width: 36%;
}
footer section h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 7px;
}
footer section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.social-img img {
    width: 30px;
    height: 30px;
    margin-right: 13px;
}
footer section h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
section input[type="email"] {
    width: 230px;
    height: 45px;
    padding: 0 10px;
    background: #15141400;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    margin-top: 10px;
}
section input[type="email"]::placeholder {
    color: white;
  }
section input[type="button"] {
    margin-top: 10px;
    padding: 7px 18px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #F15B22;
    border-radius: 5px;

}